.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.1rem 2.4rem 3.6rem;
}
.header h1 {
  color: var(--light-four);
}
.theme-mode {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}
.theme-mode h4 {
  text-transform: uppercase;
  color: var(--light-three);
  font-weight: 700;
  letter-spacing: 0.25rem;
}
.theme-mode img:last-of-type {
  display: none;
}
.theme-mode:hover {
  cursor: pointer;
}
.theme-mode:hover h4 {
  color: #222731;
}
.theme-mode:hover img:first-of-type {
  display: none;
}
.theme-mode:hover img:last-of-type {
  display: initial;
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    margin: 14rem 7.85rem 3.6rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header {
    margin: 14.4rem 0 3.6rem;
  }
}
