.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.1rem 2.4rem 3.6rem;
}
.header h1 {
  color: var(--light-four);
}
.theme-mode {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}
.theme-mode h4 {
  text-transform: uppercase;
  color: var(--light-three);
  font-weight: 700;
  letter-spacing: 0.25rem;
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    margin: 14rem 7.85rem 3.6rem;
  }
}
