.container {
  background-color: var(--light-six);
  border-radius: 1.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1.6rem;
  box-shadow: 0 2.1rem 3rem var(--box-shadow);
  margin: 0 2.4rem 2.1rem;
}
.container img {
  height: 2rem;
  width: 2rem;
}
.container input {
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 1.3rem;
  width: 18.6rem;
  height: 2.5rem;
  color: #222731;
  flex: 1;
  margin-left: 0.9rem;
}
.container input::placeholder {
  color: var(--light-three);
}
.container button {
  background-color: var(--light-one);
  color: var(--white);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.4rem;
  border: none;
  border-radius: 1rem;
  height: 4.6rem;
  width: 8.4rem;
}
.container button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}
.error-message {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    height: 6.9rem;
    padding: 0 1rem 0 3.2rem;
    margin: 0 7.85rem 2.1rem;
  }
  .container img {
    height: 2.4rem;
    width: 2.4rem;
  }
  .container input {
    font-size: 1.8rem;
    margin-left: 2.4rem;
  }
  .container button {
    height: 5rem;
    width: 10.6rem;
  }
  .error-message {
    display: initial;
    margin-right: 1rem;
    color: #f74646;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    margin: 0 0 2.4rem;
  }
  .container button {
    font-size: 1.6rem;
  }
}
